.side-menu{
    background-color: darken($blue, 25%);
    color: #fefefe;
    ul{
        width:100%;
        margin-top: 70px;
    }
    li{
    	margin: 2px 10px;
    }
    li.divider{
        border-top:1px solid $black;
        margin:5px;
    }
    li a, li.title{
		padding: 1rem;
		border-radius:3px;
		display:block;
    }
    li.title{
    	color: $grey;
    }
    li a{
        color: lighten($blue, 25%);
    }
    li a:hover{
		background: $white;
		color:$blue;
    }
    li a.active{
    	background: $blue;
    	color:$white;
    }
}

.title-bar {
    background: $bluetinted;
    padding:1rem;
    .horizontal.menu{
        position:relative;
        >li>a{
            margin: 0 1rem;
            padding: 4px;
            border-radius:6px;
            position:relative;
        }
        .submenu{
            visibility:hidden;
            position:absolute;
            top:41px;
            left:-88px;
            width:250px;
            overflow:hidden;
            &.show{     
                visibility:visible;
                .menu{           
                    top:0;
                }
            }
            .menu{
                position:relative;
                top:-500px;
                width:100%;
                background-color:$white;
                border: 1px solid $bordercolor;
                text-align:left;                
                transition: top 333ms ease;
                a{
                    color:$blue;
                }
            }
        }
    }
    a{
        color:#fff;
    }
    a.active{
        color:$blue;
        background-color:$white;
    }
    .exit{
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index:98;
    }
}