$color: #012345;
$accentcolor: #014c93;
$bluebackground: #f7f8f9;
$blue: #3598dc;
$bluetinted: #258fd7;
$red: #e7505a;
$redtinted: #e53e49;
$green: #4CAF50;
$greentinted: #388E3C;
$purple: #8E44AD;
$purpletinted: #823e9e;
$orange: #FFC107;
$orangetinted: #FFA000;
$yellow: #FFEB3B;
$yellowtinted: #FBC02D;
$pink: #F06292;
$indigo: #3f51b5;
$cyan: #4DD0E1;
$lime: #DCE775;
$brown: #795548;
$opacity: 0.7;
$black: #656565;
$blackshadow: rgba(0,0,0,0.5);
$white: #fff;
$grey: #8f939e;
$bordercolor: #e3e8ed;
$borderradius: 4px;
$panelshadow: 0 1px 1px rgba(0,0,0,.05);
$break-small: 320px;
$break-medium: 640px;
$break-large: 1200px;