<div class="panel">
    <header class="white">Colors</header>
    <section>
    	<p>Laatste kleur: <span ng-bind="myColorText"></span></p>
    	<div class="color-box" data-ng-style="{'background-color': myColor}" data-ng-class="{'no-color': noColor}"></div>
	    <br/><br/>
	    <p><button type="button" class="button" data-ng-click="update()" data-ng-class="{success: autoUpdate}">Autoupdate</button> <button type="button" class="button" data-ng-click="stop()" data-ng-class="{alert: !autoUpdate}">Stop</button></p>
    </section>
</div>