<div class="panel">
    <header>Start</header>
    <section>
	    <div class="demo-select" data-ng-click="setMode('demo1')">Demo 1</div>
	    <div class="demo-select" data-ng-click="setMode('demo2')">Demo 2</div>
	    <div class="demo-select" data-ng-click="setMode('demo3')">Demo 3</div>
	    <div class="demo-select" data-ng-click="setMode('demo4')">Demo 4</div>
	    <div class="demo-select" data-ng-click="setMode('demo5')">Demo 5</div>
	    <div class="demo-select" data-ng-click="setMode('demo6')">Demo 6</div>
	    <div class="demo-select" data-ng-click="setMode('user1')">User 1</div>
	    <div class="demo-select" data-ng-click="setMode('user2')">User 2</div>
	    <div class="demo-select" data-ng-click="setMode('user3')">User 3</div>
	    <div class="clear-fix"></div>
    </section>
</div>